body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
main{
    padding: 20px;
}

a[href^='mailto']::before {
    content: '📧 ';
  }
  
  a[href^='tel']::before {
    content: '📞 ';
  }


section{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button{
    display: inline;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}

.profile-pic{
    width: 150px;
    border-radius: 50%;
    
}